.posts {
  flex: 75%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.post {
  width: 400px;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.post-info h4 {
  text-align: center;
}

.post-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.post-desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .post {
    width: 375px;
  }

  .post-img {
    height: 375px;
  }
}

@media screen and (max-width: 750px) {
  .posts {
    flex: 100%;
  }

  .post {
    width: 300px;
  }

  .post-img {
    height: 300px;
  }

  .post-desc {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .post {
    width: 250px;
  }
}
